<footer class="bg-white">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Links</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a href="https://github.com/nilguresci" class="text-muted">Github</a
            >
          </li>
          <li class="mb-2">
            <a
              href="https://www.linkedin.com/in/nil-g-ba3785173/"
              class="text-muted"
              >LinkedIn</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">E-mail</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2">nilguresci@gmail.com</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Adress</h6>
        <p class="text-muted mb-4">
          Manisa Celal Bayar Üniversitesi Hasan Ferdi Turgutlu Teknoloji
          Fakültesi Turgutlu/Manisa <br />
          <br />
          Tire/İzmir
        </p>
      </div>
    </div>
  </div>

  <!-- Copyrights -->
  <div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">Nil Güreşçi</p>
    </div>
  </div>
</footer>